# Desafio 3

Neste desafio, iremos praticar nossos conhecimentos sobre distribuições de probabilidade. Para isso,
dividiremos este desafio em duas partes:
    
1. A primeira parte contará com 3 questões sobre um *data set* artificial com dados de uma amostra normal e
    uma binomial.
2. A segunda parte será sobre a análise da distribuição de uma variável do _data set_ [Pulsar Star](https://archive.ics.uci.edu/ml/datasets/HTRU2), contendo 2 questões.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF

## Parte 1

### _Setup_ da parte 1

In [264]:
np.random.seed(42)
    
dataframe = pd.DataFrame({"normal": sct.norm.rvs(20, 4, size=10000),
                     "binomial": sct.binom.rvs(100, 0.2, size=10000)})

## Inicie sua análise a partir da parte 1 a partir daqui

In [265]:
dataframe

         normal  binomial
0     21.986857        18
1     19.446943        15
2     22.590754        14
3     26.092119        15
4     19.063387        21
...         ...       ...
9995  25.204408        22
9996  12.006620        24
9997  17.178733        17
9998  21.983062        23
9999  22.577554        25

[10000 rows x 2 columns]

## Questão 1

Qual a diferença entre os quartis (Q1, Q2 e Q3) das variáveis `normal` e `binomial` de `dataframe`? Responda como uma tupla de três elementos arredondados para três casas decimais.

Em outra palavras, sejam `q1_norm`, `q2_norm` e `q3_norm` os quantis da variável `normal` e `q1_binom`, `q2_binom` e `q3_binom` os quantis da variável `binom`, qual a diferença `(q1_norm - q1 binom, q2_norm - q2_binom, q3_norm - q3_binom)`?

In [36]:
def q1():
    quartis = dataframe.quantile([0.25,0.5,0.75])
    q1_norm = quartis.loc[0.25][0]
    q2_norm = quartis.loc[0.5][0]
    q3_norm = quartis.loc[0.75][0]
    q1_binom = quartis.loc[0.25][1]
    q2_binom = quartis.loc[0.5][1]
    q3_binom = quartis.loc[0.75][1]
    dif1 = (q1_norm - q1_binom)
    dif1 = round(dif1, 3)
    dif2 = (q2_norm - q2_binom)
    dif2 = round(dif2, 3)
    dif3 = (q3_norm - q3_binom)
    dif3 = round(dif3, 3)
    dif = (dif1, dif2, dif3)
    return dif

Para refletir:

* Você esperava valores dessa magnitude?

* Você é capaz de explicar como distribuições aparentemente tão diferentes (discreta e contínua, por exemplo) conseguem dar esses valores?

## Questão 2

Considere o intervalo $[\bar{x} - s, \bar{x} + s]$, onde $\bar{x}$ é a média amostral e $s$ é o desvio padrão. Qual a probabilidade nesse intervalo, calculada pela função de distribuição acumulada empírica (CDF empírica) da variável `normal`? Responda como uma único escalar arredondado para três casas decimais.

In [284]:
def q2():
    x = dataframe['normal'].mean()
    s = dataframe['normal'].std()
    ecdf = ECDF(dataframe['normal'])
    a = ecdf(x-s)
    b = ecdf(x+s)
    c = b - a
    c = round(c, 3)
    return c

Para refletir:

* Esse valor se aproxima do esperado teórico?
* Experimente também para os intervalos $[\bar{x} - 2s, \bar{x} + 2s]$ e $[\bar{x} - 3s, \bar{x} + 3s]$.

## Questão 3

Qual é a diferença entre as médias e as variâncias das variáveis `binomial` e `normal`? Responda como uma tupla de dois elementos arredondados para três casas decimais.

Em outras palavras, sejam `m_binom` e `v_binom` a média e a variância da variável `binomial`, e `m_norm` e `v_norm` a média e a variância da variável `normal`. Quais as diferenças `(m_binom - m_norm, v_binom - v_norm)`?

In [35]:
def q3():
    m_norm = dataframe['normal'].mean()
    v_norm = dataframe['normal'].var()
    m_binom = dataframe['binomial'].mean()
    v_binom = dataframe['binomial'].var()   
    dif1 = (m_binom - m_norm)
    dif1 = round(dif1, 3)
    dif2 = (v_binom - v_norm)
    dif2 = round(dif2, 3)
    dif = (dif1, dif2)
    return dif

Para refletir:

* Você esperava valore dessa magnitude?
* Qual o efeito de aumentar ou diminuir $n$ (atualmente 100) na distribuição da variável `binomial`?

## Parte 2

### _Setup_ da parte 2

In [38]:
stars = pd.read_csv("pulsar_stars.csv")

stars.rename({old_name: new_name
              for (old_name, new_name)
              in zip(stars.columns,
                     ["mean_profile", "sd_profile", "kurt_profile", "skew_profile", "mean_curve", "sd_curve", "kurt_curve", "skew_curve", "target"])
             },
             axis=1, inplace=True)

stars.loc[:, "target"] = stars.target.astype(bool)

## Inicie sua análise da parte 2 a partir daqui

In [45]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

stars['target'] = enc.fit_transform(stars['target'])

In [46]:
stars

,mean_profile,sd_profile,kurt_profile,skew_profile,mean_curve,sd_curve,kurt_curve,skew_curve,target
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,0
...,...,...,...,...,...,...,...,...,...
17892,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17893,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17894,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17895,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17896,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

## Questão 4

Considerando a variável `mean_profile` de `stars`:

1. Filtre apenas os valores de `mean_profile` onde `target == 0` (ou seja, onde a estrela não é um pulsar).
2. Padronize a variável `mean_profile` filtrada anteriormente para ter média 0 e variância 1.

Chamaremos a variável resultante de `false_pulsar_mean_profile_standardized`.

Encontre os quantis teóricos para uma distribuição normal de média 0 e variância 1 para 0.80, 0.90 e 0.95 através da função `norm.ppf()` disponível em `scipy.stats`.

Quais as probabilidade associadas a esses quantis utilizando a CDF empírica da variável `false_pulsar_mean_profile_standardized`? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [155]:
def q4():
    #Filtre apenas os valores de mean_profile onde target == 0 (ou seja, onde a estrela não é um pulsar).
    filt = stars.filter(items = ['mean_profile','target'])
    
    list = []

    for i in range(0, len(filt)):
        if filt['target'][i] == 0:
            list.append(filt['mean_profile'][i])
        else:
            pass
           
    #Padronize a variável mean_profile filtrada anteriormente para ter média 0 e variância 1.
    
    false_pulsar_mean_profile_standardized = sct.zscore(list)

    #Encontre os quantis teóricos para uma distribuição normal de média 0 e variância 1 para 0.80, 0.90 e 0.95 através da função norm.ppf()
    
    de1 = sct.norm.ppf(0.80, loc=0, scale=1)
    de1 = round(de1, 3)
    de2 = sct.norm.ppf(0.90, loc=0, scale=1)
    de2 = round(de2, 3)
    de3 = sct.norm.ppf(0.95, loc=0, scale=1)
    de3 = round(de3, 3)
 
    #Quais as probabilidade associadas a esses quantis utilizando a CDF empírica da variável false_pulsar_mean_profile_standardized?

    ecdf = ECDF(false_pulsar_mean_profile_standardized)
    
    a = ecdf(de1)
    a = round(a, 3)
    b = ecdf(de2)
    b = round(b, 3)
    c = ecdf(de3)
    c = round(c, 3)
        
    prob = (a, b, c)
    return prob

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?

In [ ]:
#================================== FAILURES ===================================
#assert (0.267, 0.703...000001, 1.062) == (0.027, 0.04, -0.004)

## Questão 5

Qual a diferença entre os quantis Q1, Q2 e Q3 de `false_pulsar_mean_profile_standardized` e os mesmos quantis teóricos de uma distribuição normal de média 0 e variância 1? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [453]:
def q5():
    filt = stars.filter(items = ['mean_profile','target'])
    list = []

    for i in range(0, len(filt)):
        if filt['target'][i] == 0:
            list.append(filt['mean_profile'][i])
        else:
            pass
        
    false_pulsar_mean_profile_standardized = sct.zscore(list)
    dfa = pd.DataFrame(false_pulsar_mean_profile_standardized)

    #mesmos quantis teóricos de uma distribuição normal de média 0 e variância 1
    
    de1 = sct.norm.ppf(0.25, loc=0, scale=1)
    de2 = sct.norm.ppf(0.5, loc=0, scale=1)
    de3 = sct.norm.ppf(0.75, loc=0, scale=1)
 
    #quantis Q1, Q2 e Q3 de false_pulsar_mean_profile_standardized 

    qtrs = dfa.quantile([0.25, 0.5, 0.75])    
    
    q1 = float(qtrs.iloc[0] - de1)
    q1 = round(q1, 3)
    q2 = float(qtrs.iloc[1] - de2)
    q2 = round(q2, 3)
    q3 = float(qtrs.iloc[2] - de3)
    q3 = round(q3, 3)
    
    result = (q1, q2, q3)
    
    return result

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?
* Curiosidade: alguns testes de hipóteses sobre normalidade dos dados utilizam essa mesma abordagem.